API_ENDPOINT="https://{ingest_api_url}/api/ingest"
BEARER_TOKEN=
TAPO_URL="rtsp://{account_user}:{account_password}@{device_ip}:554/stream2"
TIMEZONE="Asia/Taipei"

# Optional. Defaults to 5 seconds.
CAPTURE_INTERVAL_SECONDS=5
