API_ENDPOINT="https://{ingest_api_url}/api/ingest"

CAMERA_1_BEARER_TOKEN=
CAMERA_1_TAPO_URL="rtsp://{account_user}:{account_password}@{device_ip}:554/stream2"
CAMERA_1_CAPTURE_INTERVAL_SECONDS=5

CAMERA_2_BEARER_TOKEN=
CAMERA_2_TAPO_URL="rtsp://{account_user}:{account_password}@{device_ip}:554/stream2"
CAMERA_2_CAPTURE_INTERVAL_SECONDS=5
